form {
    width: 400px;
    margin: 50px auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    color: white;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .error {
    color: red;
    margin-bottom: 20px;
  }
  